[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
openshift = "==0.8.7"
ansible = "==2.7.16"
dnspython = "==1.16.0"
jmespath="==0.9.4"

[requires]
python_version = "3.7"